.button {
  display: flex;
  align-items: center;
  justify-content: center;
  // display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: var(--f-size16);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.button--hero,
.button--modal {
  margin: 30px auto 0;
  // padding: 10px 32px;


}

.button__subscribe {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  gap: 10px;
  fill: var(--white);
}