.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--semigrey);

  header-logo {
    margin-right: 93px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  margin-left: 93px;
}

.header-menu__item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--dark);
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic-bezier);
}

.header-contacts {
  display: none;
  margin-left: auto;
}

// .header-menu,
// .header-contacts {
//   display: flex;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
// }

.header-contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--grey);
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic-bezier);
}

.header-contacts__link svg {
  fill: var(--grey);
  transition: fill var(--time-animation) var(--cubic-bezier);
}

.header-menu li:not(:last-child),
.header-contacts li:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link:hover svg,
.header-contacts__link:focus svg {
  fill: var(--blue);
}

.header-menu__item:hover,
.header-contacts__link:hover,
.header-menu__item:focus,
.header-contacts__link:focus,
.header-menu__item--active {
  color: var(--blue);
}

/*  Blue underline */
.header-menu__item--active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}